{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/icons/nlng.png" height="60" alt="Volt logo">
        </div>
     


        <div id="card-transform-id" class="row justify-content-md-center padd-page-2">
            

            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">Electric Motors</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">Electric Heaters</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">Generators</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">Control Panel</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">Battery</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <h2 class="h5 font-weight-bold">UPS</h2>
                        <p>Electrical motors are used to power various equipments such as compressors, 
                            pumps, and valves for processing and transportation.
                        </p>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-layer-group"></span></span>Equipment Count</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View equipments" href="">5</a></h4>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-users-cog"></span></span>Count of OEM Sources</h6>
                            </div>
                            <div>
                                <h4 class="text-primary font-weight-bold mt-4"><a data-toggle="tooltip"
                                    title="View OEMs">3</a></h4>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between ">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-shape icon-sm icon-shape-quaternary mt-3 rounded mr-3"><span class="fas fa-chart-area"></span></span>Equipment Data</h6>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-sm mr-0 ml-4 mt-4">
                                    <a class="text-light" data-toggle="tooltip"
                                    title="View full data" href="">View</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
            
        </div>

       

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
