{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">


        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/icons/nlng.png" height="60" alt="Volt logo">
        </div>

        <div id="card-transform-id" class="row justify-content-md-center padd-page-2">

            <div class="col-12 col-sm-6 col-xl-6 mb-6">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-tag"></span></span>Tag</h6>
                            </div>
                            <div>
                                <a class="text-primary font-weight-bold">4-KM-4003D</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pt-3 pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-book-reader"></span></span>Description</h6>
                            </div>
                            <div>
                                <a class="text-primary font-weight-bold">Main/Auxiliary Air Water Cooler Fan Motor D</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-sort-numeric-up"></span></span>Rating</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">18.75KW(25HP),400V,1475RPM</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-user-cog"></span></span>Manufacturer</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">GE</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-list"></span></span>Serial No.</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">284T</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-hourglass-half"></span></span>Year of Manufacture</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">1996</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 mb-6">
                <div class="card border-light shadow-sm">
                    <div class="card-body card-transform">
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-tag"></span></span>Tag</h6>
                            </div>
                            <div>
                                <a class="text-primary font-weight-bold">4-KM-4003D</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pt-3 pb-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-book-reader"></span></span>Description</h6>
                            </div>
                            <div>
                                <a class="text-primary font-weight-bold">Main/Auxiliary Air Water Cooler Fan Motor D</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-sort-numeric-up"></span></span>Rating</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">18.75KW(25HP),400V,1475RPM</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="
                                    fas fa-user-cog"></span></span>Manufacturer</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">GE</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-list"></span></span>Serial No.</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">284T</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3">
                            <div>
                                <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-hourglass-half"></span></span>Year of Manufacture</h6>
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold">1996</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    

       

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
