{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">


        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/icons/nlng.png" height="60" alt="Volt logo">
        </div>


        <div id="card-transform-id" class="row justify-content-md-center padd-page">
            
            

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">0000</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">0300</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">3700</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="{% url 'equipment_type' %}">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4000</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4100</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4200</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4300</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4400</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4500</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4600</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4700</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">4800</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6000</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6100</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6200</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6400</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6600</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-xl-2 mb-2">
                <div class="card border-light shadow-lg card-dimension">
                    <a href="google.com">
                    <div class="card-body card-transform">
                        <div class="row d-block d-xl-flex align-items-center">
                            
                            <div class="col-12 col-xl-12 px-xl-0">
                                
                                <div class="unit-transform ml-4 pl-4 mb-4 mt-4">
                                    <h3 class="area-transform">6800</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            
        </div>

       

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
